/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

.row {
  display: flex;
}

.col {
  flex: 1 0 0%;
}


@font-face {
  font-family: "Fairfax HD";
  src: url("https://cdn.glitch.global/0441be0c-8bd8-43aa-a278-202942470c84/FairfaxHD.woff2?v=1645159868773") format("woff2")
    url("https://cdn.glitch.global/0441be0c-8bd8-43aa-a278-202942470c84/FairfaxHD.woff?v=1645159863391") format("woff"),
    url("https://cdn.glitch.global/0441be0c-8bd8-43aa-a278-202942470c84/FairfaxHD.ttf?v=1645159050920") format("ttf");
}


.input {
  width: 100%;
  resize: none;
  line-height: 2em;
  padding: 1em 1em 1em 1em;
  border-style: dotted;
  border-width: thick;
  border-color: black;
  font-family: "Fairfax HD", monospace;
  font-weight: bolder;
  font-size: 18pt;
}

.output {
  line-height: 2em;
  padding: 1em 1em 1em 1em;
  border-style: dotted;
  border-width: thick;
  border-color: black;
  font-family: "Fairfax HD";
  font-weight: bolder;
  font-size: 18pt;
}

